.btn-primary {
  padding: 1rem;
  display: flex;
  background: var(--secondary-color);
  align-items: center;
  justify-content: space-around;

  height: 5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  transition: var(--transition);
}

.btn-primary:hover {
  box-shadow: 0 0 30px var(--primary-color);
}

.btn-secondary {
  padding: 1rem;
  display: flex;
  background: var(--text-color);
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  transition: var(--transition);
  color: var(--bg-color);
}

.btn-secondary:hover {
  box-shadow: 0 0 30px var(--bg-color);
}
